body {
    background-color: #f2f2f2;
}

.main-first-wrapper {
    width: 100%;
    margin: 0 auto;
    margin-top: 6rem;
}

#logo-web{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.main-wrapper {
    width: 100%;
    /*margin: 0 auto;*/
    background-color: white;
    overflow: hidden;
}

#wrapper {
    padding: 90px 15px;
}

.main-wrapper .carousel{
    height: 450px;
}

.navbar-expand-lg .navbar-nav.side-nav {
    flex-direction: column;
}

.navbar-brand{
    padding-bottom: 0;
}

/* Título páginas*/
.title-pages{
    padding-top: 5px;
    padding-bottom: 0px;
    text-align: center;
    color: #343a40;
}

.title-section{
    text-align: center;
    color:#848484;
    padding-bottom: 0px;
    padding-top:4px

}

#name-page {
    text-align: center;
    font-size: 35px;
}

#map {
    width: 100%;
    height: 550px;
    border: 1px solid black;
    float: left;
}

.map {
    background-color: #ffffff;
}

.graph{
    display:block;
    margin: auto;
}


.info-background {
    padding-left: 20px;
    padding-right: 20px;
}

.feature-text {
    padding-top: 10px;
}

.feature {
    width: 24%;
    margin-right: 1%;
    float: left;
    padding-bottom: 10px;
    text-align: center;
}

.feature:first-child {
    padding-left: 2%;
}

.feature:last-child {
    padding-right: 2%;
    margin-right: 0;
}

.accordian {
    margin-left: -40px;
    height: 320px;
    overflow: hidden;
    /*Time for some styling*/

}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
    width: 1200px;
    /*This will give ample space to the last item to move
    instead of falling down/flickering during hovers.*/
}

.accordian li {
    position: relative;
    display: block;
    width: 160px;
    float: left;

    border-left: 1px solid #888;

    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0);

    /*Transitions to give animation effect*/
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    /*If you hover on the images now you should be able to 
    see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {
    width: 40px;
}

/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {
    width: 640px;
}


.accordian li img {
    display: block;
}

/*Imagen descanso*/
.main-wrapper.photo{
    padding-top: 20px;
}

/*Image title styles*/
.image_title {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 640px;

}

.image_title a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    font-size: 16px;

}

.description-section {
    padding-top: 20px;
    padding-bottom: 40px;
}

.text-style {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 30px;
}

#img {
    background-image: url(../img/map.png);
    width: 100%;
    height: 300px;
    opacity: 0.4;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}


/*.select-road{
    display: inline;
    padding-top: 20px;
    padding-bottom: 20px;
}*/
form.select-road{
    width: 50%;
    padding-top:0px;
    padding-bottom: 5px;
    margin-left: 25%;
    margin-right: 25%;
}

.form-group.row{
    margin-bottom: 2px;
}

.select-field{
    margin-bottom: 10px;
}

#origen,#destino,#originTown,#destinationTown{
    width: 200px;
}

/***Botón formulario e interactivo***/
#button-form{
    text-align: center;
}

.btn-primary{
    background-color:#848484;
    color:#fff;
    border-color:#848484;
}

.btn-primary:hover{
    background-color:#848484;
    color:#fff;
    border-color:#848484;
}

.btn-primary:disabled{
    color: #A4A4A4;
    background-color:#D8D8D8 ;
    border-color: #D8D8D8;
}
input#notInterButton{
    width: 150px;
    margin-left: 10px;
}

input#interButton{
    width: 150px;
    margin-right: 10px;
}

div#button-interaction{
    margin-bottom: 20px;
}

#interactive-order{
    text-align: center;
}

.float{
    position:fixed;
    width:50px;
    height:51px;
    bottom:40px;
    right:25px;
    background-color:#CBCACA;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
    display: none;
}

.my-float{
    margin-top:16px;
}

#hr-separator{
    margin-top: 0;
    margin-bottom: 0;
}

/*#touch-form{
    display: none;
}*/

/*** Slider tiempo ***/

#radioVeloContainer {
    width: 15%;
    float: right;
    display: none;
    margin-bottom: 20px;
}
.colum-radio.speed-group{
    width: 100%;
    text-align: center;
}

/*#formControlRange{
    direction: rtl
}*/


/*.form-control-range{
    display: inline;
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15px;
    margin-top: 15px;
}*/

/*#MSpeed{
    margin-left: 1.5%;

}

#mSpeed{
    margin-left: 5%;
    margin-right: 1.5%;

}*/

#radiocontainer{
    width: 15%;
    float: right;
    text-align: center;
    margin-bottom: 20px;
    display: none;

}

#radio-inline{
    width: 100%;
    display: table;
}

.colum-radio{
    float: left;
    width: 50%;
}

.custom-control{
    padding-left: 0px;
}

input[type="radio"] {
    display:table-cell;
    vertical-align:middle
}

.label-radio{
    width: 32%;
    padding-top:5px;
    padding-bottom: 5px; 
    /*margin-left: 3px;*/
    margin-right: 3px;
    margin-bottom: 10px;
    margin-left: 10px;
}

/** CheckBox**/
#check-container{
    width: 15%;
    float: right;
    text-align: center;
    display: none;
}

#check-follow{
    margin-right: 10px;
}


div#seccion-altimetria{
    height: 0px;
}

/*** Botón 3D ***/
.rotate-north {
    top: 80px;
    left: .5em;
}

.change-view{
    /*top: 120px;*/
    bottom: 35px;
    left: .4em;
}

.change-view.ol-unselectable.ol-control button{
    width: 3.5em;
}

/*** Botón seguimiento ***/
.follow-man{
    bottom: 40px;
    left: .5em;
}
.follow-man.ol-unselectable.ol-control button{
    width: 7em;
}

/*** Botón reiniciar ***/
.restart-man{
    bottom: 80px;
    left: .5em;
}
.restart-man.ol-unselectable.ol-control button{
    width: 6em;
}

.pause-man{
    bottom: 120px;
    left: .5em;
}
.pause-man.ol-unselectable.ol-control button{
    width: 3em;
}

.resume-man{
    bottom: 120px;
    left: .5em;
}
.resume-man.ol-unselectable.ol-control button{
    width: 3em;
}

/*** Salir seguimiento ***/
.exit-man{
    bottom:40px;
    left: .5em;
}

.exit-man.ol-unselectable.ol-control button{
    width: 5em;
}
/*** Botón limpiar ***/
.ol-clean{
    bottom: .5em;
    right: 30em;
    left:30em;
    width: 8.5em;
}

.ol-clean.ol-unselectable.ol-control button{
    width: 7.10em;
}


/*Footer */

.footer-container-map {
    padding-top: 0px;
}

.footer {
    text-align: center;
}

.footer-menu {
    background-color: #343a40;
    padding-top: 25px;
    padding-bottom: 50px;
}

.li-footer {
    color: #ffffff;
    text-align: center;
    display: inline;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 40px;
    margin-left: 40px;
}

.footer-container .footer #ul-footer a {
    /*border-right: 1px solid #ffffff;*/
    margin-bottom: 20px;
}

.footer-container .footer #ul-footer a:last-child {
    border-right: 0px;
    margin-bottom: 0px;
}

#ul-footer {
    left: 50%;
    display: inline;
}

.copy-right-text {
    background-color: #343a40;
    color: #ffffff;
    padding-top: 25px;
    padding-bottom: 25px;
}

a:link {
    text-decoration: none;
}

/*Cookies*/
.cookies-page {
    margin-left: 20px;
    margin-right: 20px;
}

.cookie-title {
    color: #616161;
    padding-top: 20px;
}

.cookie-section {
    color: #616161;
    font-weight: bold;
    padding-top: 20px;
    font-size: 20px;
}

.list-cookie {
    color: #616161;
    list-style-type: square;
}

.li-cookie {
    font-weight: bold;
}

.cookie-paragraph {
    color: #616161;
    margin-bottom: 5px;
}

.cookie-paragraph:last-child {
    color: #616161;
    margin-bottom: 0px;
}

/*** Modal spinner***/
/*.modal.modal-center {
    display: flex!important;
    align-items: center!important;
    .modal-dialog {
        flex-grow: 1;
    }
}

.text-snipper{
    text-align: center;
    margin-top: 20px;
}*/


@media(max-width:1024px){
    #origen,#destino,#originTown,#destinationTown{
        width: 150px;
    }
}

@media(min-width:992px) {
    .leftmenutrigger {
        display: block;
        display: block;
        margin: 7px 20px 4px 0;
        cursor: pointer;
    }

    #wrapper {
        padding: 90px 15px 15px 15px;
    }

    .navbar-nav.side-nav.open {
        left: 0;
    }

    .navbar-nav.side-nav {
        background: #585f66;
        box-shadow: 2px 1px 2px rgba(0, 0, 0, .1);
        position: fixed;
        top: 56px;
        flex-direction: column !important;
        left: -220px;
        width: 200px;
        overflow-y: auto;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px
    }
}

/*@media (max-width: 991px){
        #button-form{
        display: none;
    }
    
    #touch-form{
        display: initial;
    }
}*/

@media (max-width: 768px) and (min-width: 650px){
    .main-first-wrapper{
        margin-top: 40px;
    }

    #ul-footer {
        display: inline-grid;
        padding-left: 0px;
        margin-bottom: 0px;
    }

    .footer-menu {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    /*.ol-clean{
        left:10em;
    }*/
    
    .colum-radio{
        font-size: 10px;
    }
}

@media (max-width: 500px){
    #desti-label,#origin-label{
        display: none;
    }
}

@media (max-width: 420px){
    #logo-web{
        display: none;
    }

    #map {
        width: 100% !important;

    }
    .navbar-brand{
        font-size: 0.9rem;
    }

    .main-wrapper .carousel {
        height: 200px;
    }
    form.select-road {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;

    }
    #origen, #destino, #originTown, #destinationTown{
        width: 100%;
    }

    #radioVeloContainer{
        width: 100%;
    }

    #radiocontainer{
        width: 100%;
    }

    #check-container{
        width: 100%;
    }

    .ol-clean{
        bottom: .5em;
        right: 30em;
        left:10em;
        width: 11.5em;
        font-size: 10px;
    }
    
    .follow-man{
        font-size: 10px;
    }
    
    .restart-man{
        font-size: 10px;
    }
    
    .exit-man{
        font-size: 10px;
    }

}

